<html>
  <title>Hello, World!</title>
  <head>
    <script src="https://js.arcgis.com/4.18/"></script>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.18/esri/css/main.css"
    />
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.18/esri/css/view.css"
    />
    <!-- ArcGIS API 버전은 필요에 따라 선택 -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script> -->
  </head>
  <body>
    <h1>Hello, World!</h1>
    <div id="viewDiv" style="height: 100%; width: 100%"></div>
  </body>
  <script type="module">
    // import Map from "https://js.arcgis.com/4.0/esri/Map.js";
    // import MapView from "https://js.arcgis.com/4.0/esri/views/MapView.js";

    // function webMercatorToLatLon(x, y) {
    //   let lon = (x / 20037508.34) * 180;
    //   let lat =
    //     (Math.atan(Math.exp((y / 20037508.34) * Math.PI)) * 360) / Math.PI - 90;

    //   return { latitude: lat, longitude: lon };
    // }

    function webMercatorToLatLon(x, y) {
      let lon = (x / 20037508.34) * 180;
      let lat = (y / 20037508.34) * 180;
      lat =
        (180 / Math.PI) *
        (2 * Math.atan(Math.exp((lat * Math.PI) / 180)) - Math.PI / 2);
      return { latitude: lat, longitude: lon };
    }

    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/Graphic",
      "esri/layers/GraphicsLayer",
    ], function (Map, MapView, Graphic, GraphicsLayer) {
      let map = new Map({
        basemap: "streets", // 베이스맵 타입 선택
      });

      let view = new MapView({
        container: "viewDiv", // 지도를 표시할 div
        map: map,
        // center: [127.028, 37.495], // 지도의 중심 좌표 (경도, 위도)
        center: [77.50046589737278, 40.52513396182485],
        zoom: 10,
      });

      let graphicsLayer = new GraphicsLayer();
      map.add(graphicsLayer);

      fetch(
        "https://api.vworld.kr/req/wfs?SERVICE=WFS&REQUEST=GetFeature&TYPENAME=lt_c_uq111&PROPERTYNAME=mnum,sido_cd,sigungu_cd,dyear,dnum,ucode,bon_bun,bu_bun,uname,sido_name,sigg_name,ag_geom&VERSION=1.1.0&SRSNAME=EPSG:900913&OUTPUT=GML2&EXCEPTIONS=text/xml&KEY=3AE1D4E0-EBFB-3841-A4DE-EE254A31BD34&FILTER=%3Cogc%3AFilter%3E%0A%20%20%20%20%3Cogc%3APropertyIsLike%20wildCard%3D%22*%22%20singleChar%3D%22_%22%20escapeChar%3D%22%5C%22%3E%0A%20%20%20%20%20%20%20%20%3Cogc%3APropertyName%3Esido_name%3C%2Fogc%3APropertyName%3E%0A%20%20%20%20%20%20%20%20%3Cogc%3ALiteral%3E%EC%9D%B8%EC%B2%9C*%3C%2Fogc%3ALiteral%3E%0A%20%20%20%20%3C%2Fogc%3APropertyIsLike%3E%0A%3C%2Fogc%3AFilter%3E"
      )
        .then((response) => response.text())
        .then((data) => {
          console.log("");
        });

      function fetchData() {
        fetch("/api")
          .then((response) => response.text()) // 응답을 텍스트로 변환
          .then((data) => {
            console.log(data); // 콘솔에 데이터 로깅
            // 응답에 따라 DOM을 조작할 수도 있습니다

            // document.getElementById("arcgis_map").textContent = data;

            return data;
          })
          .catch((error) => console.error("에러 발생:", error));
      }

      // const data = fetchData();

      // 데이터 추가
      const data = [
        {
          index: 0,
          year: "2012",
          sido_name: "인천광역시",
          sigg_name: "부평구",
          uname: "일반상업지역",
          latitude1: "126.72139919",
          longitude1: "37.51571927",
          latitude2: "126.72215101",
          longitude2: "37.51615102",
        },
        {
          index: 1,
          year: "2015",
          sido_name: "인천광역시",
          sigg_name: "부평구",
          uname: "일반상업지역",
          latitude1: "126.72215101",
          longitude1: "37.51615102",
          latitude2: "1.41063569617697E7",
          longitude2: "4512953.43108712",
        },
        {
          index: 2,
          year: "2016",
          sido_name: "\uc778\ucc9c\uad11\uc5ed\uc2dc",
          sigg_name: "\uc11c\uad6c",
          uname: "\uc77c\ubc18\uc0c1\uc5c5\uc9c0\uc5ed",
          latitude1: "1.410120457332664E7",
          longitude1: "4511986.10451172",
          latitude2: "1.410163857600853E7",
          longitude2: "4512179.97472773",
        },
        {
          index: 3,
          year: "2005",
          sido_name: "\uc778\ucc9c\uad11\uc5ed\uc2dc",
          sigg_name: "\uc5f0\uc218\uad6c",
          uname: "\uc81c3\uc885\uc77c\ubc18\uc8fc\uac70\uc9c0\uc5ed",
          latitude1: "1.409730803338811E7",
          longitude1: "4494364.61775772",
          latitude2: "1.409856914283117E7",
          longitude2: "4495618.89713746",
        },
        {
          index: 4,
          year: "0000",
          sido_name: "\uc778\ucc9c\uad11\uc5ed\uc2dc",
          sigg_name: "\ub0a8\ub3d9\uad6c",
          uname: "\uc77c\ubc18\uc0c1\uc5c5\uc9c0\uc5ed",
          latitude1: "1.410343213360889E7",
          longitude1: "4496109.33236586",
          latitude2: "1.410384606925774E7",
          longitude2: "4496473.60992793",
        },
        {
          index: 5,
          year: "0000",
          sido_name: "\uc778\ucc9c\uad11\uc5ed\uc2dc",
          sigg_name: "\ub0a8\ub3d9\uad6c",
          uname: "\uc804\uc6a9\uacf5\uc5c5\uc9c0\uc5ed",
          latitude1: "1.410533130149545E7",
          longitude1: "4492613.10047009",
          latitude2: "1.410538426199614E7",
          longitude2: "4492828.27409443",
        },
      ];

      data.forEach(function (item) {
        // let coords = webMercatorToLatLon(
        //   parseFloat(item.longitude1),
        //   parseFloat(item.latitude1)
        // );

        let coords = { latitude: item.longitude1, longitude: item.latitude1 };

        console.log(coords);

        let point = {
          type: "point", // autocasts as new Point()
          longitude: coords.longitude,
          latitude: coords.latitude,
        };

        let markerSymbol = {
          type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
          color: [0, 0, 0],
          outline: {
            color: [255, 255, 255],
            width: 1,
          },
        };

        const attributes = {
          name: item.sido_name + " " + item.sigg_name,
          description: item.uname,
        };

        let pointGraphic = new Graphic({
          geometry: point,
          symbol: markerSymbol,
          attributes: attributes,
          popupTemplate: {
            title: attributes.name,
            content: attributes.description,
          },
        });

        graphicsLayer.add(pointGraphic);
      });
    });
  </script>
</html>
