<html>
  <title>Hello, World!</title>
  <head>
    <script src="https://js.arcgis.com/4.18/"></script>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.18/esri/css/main.css"
    />
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.18/esri/css/view.css"
    />
    <!-- ArcGIS API 버전은 필요에 따라 선택 -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script> -->
  </head>
  <body>
    <h1>Hello, World!</h1>
    <div>
      <div id="viewDiv" style="height: 100%; width: 100%"></div>
      <ul id="areaList"></ul>
    </div>
  </body>
  <script type="module">
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/Graphic",
      "esri/layers/GraphicsLayer",
    ], function (Map, MapView, Graphic, GraphicsLayer) {
      let map = new Map({
        basemap: "streets", // 베이스맵 타입 선택
      });

      let view = new MapView({
        container: "viewDiv", // 지도를 표시할 div
        map: map,
        // center: [127.028, 37.495], // 지도의 중심 좌표 (경도, 위도)
        center: [126.72139919, 37.51578213],
        zoom: 10,
      });

      let graphicsLayer = new GraphicsLayer();
      map.add(graphicsLayer);

      async function fetchData() {
        try {
          const response = await fetch("http://localhost/api");
          const data = await response.text(); // 응답을 텍스트로 변환
          // const data = await response; // 응답을 텍스트로 변환
          console.log(data.length); // 콘솔에 데이터 로깅
          // 응답에 따라 DOM을 조작할 수도 있습니다
          // document.getElementById("arcgis_map").textContent = data;
          return data;
        } catch (error) {
          console.error("에러 발생:", error);
        }
      }

      // fetchData 함수를 호출하고 결과를 출력
      async function loadData() {
        const temp = await fetchData();
        const data = JSON.parse(temp).data;
        // console.log(data);
        data.forEach(function (item) {
          const coordinates = item.coordinates
            .split(" ")
            .map((coord) => coord.split(","));

          const color = item.uname.includes("침수")
            ? [50, 100, 200, 0.5]
            : item.uname.includes("미분류")
            ? [255, 255, 255, 0.5]
            : [237, 28, 36, 0.5];

          const polygon = {
            type: "polygon",
            rings: coordinates,
          };

          const simpleFillSymbol = {
            type: "simple-fill",
            // color: [50, 100, 200, 0.5],
            color: color,
            outline: {
              color: [255, 255, 255],
              width: 1,
            },
          };

          const attributes = {
            name: item.sido_name + " " + item.sigg_name,
            description: item.uname,
          };

          const pointGraphic = new Graphic({
            geometry: polygon,
            symbol: simpleFillSymbol,
            attributes: attributes,
            popupTemplate: {
              title: attributes.name,
              content: attributes.description,
            },
          });

          graphicsLayer.add(pointGraphic);

          // li 태그 생성 및 #areaList에 추가
          const li = document.createElement("li");
          li.textContent = attributes.name + ": " + attributes.description;

          // 클래스 부여
          li.classList.add("area-item");

          document.getElementById("areaList").appendChild(li);
        });
      }

      loadData();
    });
  </script>
</html>
